html {
  overflow-x: hidden;
}

body {
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: white;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  font-size: 14px;
}

ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

section .section-title-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  /* padding-bottom: 36px; */
  font-size: 1.2em;
}

.section-title {
  text-decoration: underline;
  text-decoration-line: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0px;
  position: relative;
}

h2.section-title {
  padding-top: 40px;
}

.padding-none {
  padding: 0px;
}

button.btn-custom {
  font-size: 33px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.btn-custom {
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
  border-color: transparent;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  width: 100%;
}

.btn-custom:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-color: #137ED9;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  background-color: #4297e0;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #137ED9;
  background-color: transparent;
  border: 1px solid #137ED9;
}

.btn-border:hover {
  color: #fff;
  border-color: #137ED9;
  background-color: #137ED9;
}

.btn-border:focus {
  color: #fff;
  border-color: #137ED9;
  background-color: #137ED9;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 18px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.custom-chev {
  width: 32px;
  margin-top: -5px;
}

.icon-close,
.icon-check {
  color: #137ED9;
}

.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4A9CEC;
}

.social-icon .instagram:hover {
  background: #D6274D;
}

.social-icon .linkedin:hover {
  background: #1260A2;
}

.social-icon .google:hover {
  background: #CE332A;
}

/* ScrollToTop */

a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #137ED9;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover,
a.back-to-top:focus {
  text-decoration: none;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #137ED9;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 7px solid #f2f2f2;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-padding {
  padding: 60px 0;
}

/* header styles */

#header-wrap {
  position: absolute;
  width: 100%;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15px;
}

.navbar-header {
  text-align: left;
  /* padding-left: 100px; */
}

.call-admis {
  text-align: right;
  /* padding-right: 100px; */
}

.call-admis-mob {
  display: none;
  text-align: center;
}

.phone {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 20px;
}

.trilogy-blue {
  color: #38bcdb;
}

.trilogy-blue:hover {
  color: #2e91a3;
}

.trilogy-blue-bg {
  background-color: #38bcdb;
}

.trilogy-blue-bg:hover {
  background-color: #2e91a3;
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

/* .slicknav_menu {
  display: none;
} */

/* Hero Styles */

#hero-area {
  color: #fff;
  /* overflow: hidden;
  position: relative;
  background: #f8f9fb; */
}

.hero-area-bg {
  background-image: url('../img/code_hero.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 730px;
}

#hero-area .contents {
  margin: 215px 0px 0px 0px;
}

.hero-content-1>h1,
.hero-content-2>h1,
.blockquote>h1,
.blockquote>p,
.hero-content-4>h1,
.hero-content-2>h3,
.hero-content-3>h3,
.hero-content-4>h3 {
  font-family: 'Roboto', sans-serif;
}

.hero-content-1 {
  width: 80%;
}

.hero-content-1>h1 {
  color: white;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
}

.hero-content-1>h3 {
  font-size: 1.9em;
  font-weight: 500;
}

.hero-content-2,
.hero-content-4 {
  margin-right: 25px !important;
}

hr {
  margin-right: 25px;
  border-top: 6px solid;
}

#program-banner-caro {
  display: none;
}

.mobile-card,
.hero-content-3-mobile {
  display: none;
}

.trilogy-drk-grey {
  color: #a9aaab;
}

.trilogy-lt-grey-bg {
  background-color: rgba(220, 220, 220, .8);
}

.hero-content-2>h1,
.hero-content-4>h1 {
  text-transform: uppercase;
  text-align: right;
  font-size: 2.3em;
  margin-bottom: 0rem;
}

.hero-content-2>h3,
.hero-content-4>h3 {
  text-align: right;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
  margin-left: 15px;
}

.blockquote>h1 {
  text-transform: uppercase;
  font-size: 1.6em;
  color: black;
  margin-bottom: 0px;
  font-weight: 700;
}

.blockquote>p {
  color: black;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
}

.hero-content-3 {
  margin-top: 40px;
}

.hero-content-4 {
  margin-top: 60px;
}

.card {
  border-radius: .45rem;
}

.hero-content-4-hr {
  margin-left: 30px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 0rem .75rem;
  color: transparent;
  -webkit-transition: all 0.3s;
  /* -moz-transition: all 0.3s;
  transition: all 0.3s; */
  border: 0px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
  background: transparent !important;
}

.form-control:focus {
  /* border: 0; */
  box-shadow: none;
  outline: none;
}

input {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

form .form-control::-webkit-input-placeholder {
  color: black;
  font-size: 1.5em;
}

form .form-control::-moz-placeholder {
  color: black;
  font-size: 1.5em;
}

form .form-control:-ms-input-placeholder {
  color: black;
  font-size: 1.5em;
}

form .form-control:placeholder {
  color: black;
  font-size: 1.5em;
}

textarea {
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

/* Featuring Item */

.featuring-bg {
  background-image: url('../img/featuring.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 730px;
}

.featuring-item {
  /* padding: 10px 3px; */
  margin-top: 20px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.featuring-item .icon img {
  /* width: 85px; */
  display: block;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
}

.featuring-item .featuring-content h3 {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.featuring-item .featuring-content h3 a {
  font-size: 15px;
  text-transform: uppercase;
  color: #585b60;
}

.featuring-item .featuring-content h3 a:hover {
  color: #38bcdb;
}

.featuring-content>p {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  margin-top: 17px;
}

p.disclaimer {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
  margin: 40px;
  font-size: 12px;
}

.phone-img {
  width: 85%;
  margin-top: 20px;
}

/* story */

.section-padding-2 {
  padding: 0px 0;
  margin-top: -135px;
}

.story-bg {
  background-image: url('../img/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.story-item {
  padding: 90px 55px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.section-header-story h2 {
  color: #38bcdb;
  margin-bottom: 25px;
  margin-top: -25px;
}

p.description {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 30px;
  margin-bottom: 20px;
}

.story-item .content {
  overflow: hidden;
}

.story-item .content .description {
  width: 100%;
}

/* faq */

.faq-bg {
  background-image: url('../img/faq.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 550px;
}

.section-header-faq h2,
h5 {
  color: black !important;
}

.section-header-faq> h2 {
  padding-top: 0px;
  margin-bottom: 35px;
}

.fa-chevron-circle-right {
  color: #38bcdb;
  background: black;
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

li {
  list-style: none;
}

h5.links {
  margin-top: 20px;
  font-size: 1.2rem;
}

.links:after {
    background-image: url('../img/tiny-chevron.png');
    /* Make your icon fit */
    color: black;
    z-index: 99999;
    background-size: 18px 18px;
}

/* footer */
.footer-area {
  background: #38bcdb;
}

/* end styles  */



.text-wrapper {
  height: 100%;
  display: table;
  padding-left: 140px;
}

.text-wrapper>div {
  vertical-align: middle;
  display: table-cell;
}


.title-hl {
  font-size: 40px;
  margin-bottom: 30px;
}



#clients {
  background: #f8f9fb;
}

.client-item-wrapper {
  text-align: center;
  padding: 15px;
}

.client-item-wrapper img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  transition: all .6s ease;
  -moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.client-item-wrapper:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

/* .sloder-img {
  background: #34363a;
} */

/* Team Item */


.slick-slider {
  padding: 80px 0;
}

.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center;
}

.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9);
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.contact-right-area {
  margin-left: 50px;
}

.contact-right {
  padding: 4px;
}

.contact-right .single-contact {
  margin: 20px 0px;
  padding: 3px 55px;
  position: relative;
  color: #abacae;
}

.contact-right .single-contact p {
  margin-bottom: 5px;
}

.contact-right .single-contact p a {
  color: #abacae;
}

.contact-right .contact-icon {
  background: #137ED9;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

#contact {
  position: relative;
  overflow: hidden;
}

#contact #contactForm {
  margin-top: 30px;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}

#conatiner-map {
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  height: 480px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
}

.h3 {
  font-size: 16px;
  margin-top: 26px;
}

.subscribes {
  background: #f8f9fb;
}

.subscribes h4 {
  text-align: center;
  font-size: 40px;
}

.subscribes p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.subscribe {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.subscribe .form-control {
  width: 100%;
  border-radius: 50px;
  position: relative;
  height: 52px;
  border: 1px solid #137ED9;
}

.subscribe .btn-submit {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* .subscribe .btn-submit i {
  width: 48px;
  height: 48px;
  background: #137ED9;
  cursor: pointer;
  display: block;
  color: #fff;
  line-height: 48px;
  border-radius: 50%;
} */

/* Footer Area Start */



.footer-area .footer-titel {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-area ul li {
  margin-bottom: 10px;
}

.footer-area ul li a {
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
}

.footer-area ul li a:hover {
  color: #137ED9;
}

.footer-area #subscribe-form {
  margin-top: 15px;
}

.footer-area #subscribe-form .form-group {
  position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 39px;
  border-radius: 0;
  background: transparent;
  color: #137ED9;
  border-left: 1px solid #ddd;
}
